<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Magazin.Properties.Settings.ParfumerieConnectionString" connectionString="Data Source=DESKTOP-LCDESQA\SQLEXPRESS;Initial Catalog=Parfumerie;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
